@import '../../../styles/variables.css';

.header_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.nav_container {
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    gap: 80px;
}

.header_divider {
    width: 100%;
    border-top: 1px solid var(--color-fourth);
}

.logo_container {
    flex: 0.5;
}

.navlinks_container {
    display: none;
    list-style: none;
}

.navlinks_item {
    color: var(--color-primary);
    font-size: 1rem;
    font-weight: 500;
}

.navActions_container {
    display: none;
}

.navButton {
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 700;
    height: 48px;
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 8px;
    border: 5px;
    border-color: var(--color-secondary);
    
}

.login {
    color: var(--color-secondary);
    background-color: transparent;
}

.register {
    color: var(--color-tercieary);
    background-color: var(--color-secondary);
}

@media (min-width: 1200px) {
    
    .header_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nav_container {
        height: 96px;
        padding: 0 4rem;
    }

    .logo_container {
        flex: 0.5;
    }

    .navlinks_container {
        flex: 2;
        display: flex;
        flex-direction: row;
    }

    .navlinks_item {
        font-size: 1rem;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
    }

    .navActions_container {
        flex: 1.5;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
    }

}