.propertyCarroulsel {
    height: 553px;
    width: auto;
    background-color: #F7F7FD;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 1200px) {

    .propertyCarroulsel {
        height: 567px;
        background-color: #F7F7FD;
    }

}