:root {
    
    --font-body: var(--font-primary);

    --color-primary: #464646;
    --color-secondary: #F06578;
    --color-tercieary: #FFFFFF;
    --color-fourth: #E9CACE;
    --color-border: #EEEEEE;
    
}