@import "../../styles/variables.css";

.brand_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.brand {
    color: var(--color-secondary);
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: -2%;
}

.subtitle_text {
    font-size: 22px;
    font-weight: 700;
}